.welcome__page{
    margin-top: 60px;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    background: rgba(214, 210, 210, 0.986);
}

.welcome__page .welcome__info{
    width: 700px;
    margin: auto 30px;
    /* align-items: center; */
}

.welcome__page .welcome__info h2{
    font-size: 30px;
    /* animation: animateLeft ease-in 2s; */
}

/* @keyframes animateLeft {
    0% {margin-left: -600px;}
    40% {margin-left: -600px;}
    100% {margin-left: 20;}
  }  */
@keyframes animateRight {
    0% {opacity: 0;}
    40% {opacity: 0.1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
  } 

.welcome__page .welcome__info h1{
    font-size: 46px;
    font-family: 'Shojumaru',sans-serif;
    /* animation: animateLeft ease-in-out 3.5s; */
}

.welcome__page .welcome__info p{
    font-size: 24px;
    width: 600px;
    /* animation: animateLeft ease 5s; */
}

.welcome__page .welcome__avatar{
    width: 50vw;
    height: 50vh;
    align-items: center;
    margin: auto 4px;
    animation: animateRight ease 1s;
}

.welcome__page .welcome__avatar img{
    width: 100%;
    height: 100%;
}

/* @media (max-width: 1379px) {
    .welcome__page .welcome__avatar{
        width: 700px;
        height: 700px;
    }
    
} */
@media (max-width: 1279px) {
    .welcome__page .welcome__avatar{
        width: 500px;
        height: 500px;
    }
    
}
@media (max-width: 1179px) {
    .welcome__page .welcome__avatar{
        width: 400px;
        height: 400px;
    }
    
}
@media (max-width: 1079px) {
    
    .welcome__page .welcome__info{
        align-items: center;
        margin: auto 30px;
    }
    .welcome__page .welcome__info h2{
        font-size: 26px;
        /* animation: animateLeft ease-in 2s; */
    }
    
    .welcome__page .welcome__info h1{
        font-size: 36px;
        font-family: 'Shojumaru',sans-serif;
        /* animation: animateLeft ease-in-out 3.5s; */
    }
    
    .welcome__page .welcome__info p{
        font-size: 20px;
        width: 40vw;
        /* animation: animateLeft ease 5s; */
    }
    .welcome__page .welcome__avatar{
        /* width: 50vw; */
        /* height: 50vh; */
        /* align-items: center; */
        margin: auto 5vw;
        /* animation: animateRight ease 1s; */
    }
    
    
}

@media (max-width: 1079px) {
    .welcome__page{
        height: 60vh;
    } 
}

@media (max-width: 679px) {
    .welcome__page{
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcome__page .welcome__info{
        margin-top: 15vh;
        text-align: left;
    }
    .welcome__page .welcome__info h2{
        font-size: 22px;
    }
    
    .welcome__page .welcome__info h1{
        font-size: 30px;
        font-family: 'Shojumaru',sans-serif;
    }
    
    .welcome__page .welcome__info p{
        font-size: 16px;
        width: 450px;
    }
    
    /* .welcome__page .welcome__info{
        margin-top: 25vh;
        margin-left: 30px;
    } */
    .welcome__page .welcome__avatar{
        display: none;
    }

    /* .welcome__page .welcome__info h2{
        font-size: 26px;
    }
    
    .welcome__page .welcome__info h1{
        font-size: 36px;
        font-family: 'Shojumaru',sans-serif;
    }
    
    .welcome__page .welcome__info p{
        font-size: 20px;
        width: 450px;
    } */
    
}
@media (max-width: 579px) {
    .welcome__page{
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcome__page .welcome__info{
        margin-top: 15vh;
        text-align: left;
    }
    .welcome__page .welcome__info h2{
        font-size: 22px;
    }
    
    .welcome__page .welcome__info h1{
        font-size: 30px;
        font-family: 'Shojumaru',sans-serif;
    }
    
    .welcome__page .welcome__info p{
        font-size: 16px;
        width: 450px;
    }
    
}
@media (max-width: 479px) {
    
    .welcome__page .welcome__info{
        margin: auto 30px;
    }

    .welcome__page .welcome__info h2{
        font-size: 20px;
    }
    
    .welcome__page .welcome__info h1{
        font-size: 28px;
        font-family: 'Shojumaru',sans-serif;
    }
    
    .welcome__page .welcome__info p{
        font-size: 14px;
        width: 350px;
    }
    
}
@media (max-width: 379px) {

    .welcome__page .welcome__info h2{
        font-size: 20px;
    }
    
    .welcome__page .welcome__info h1{
        font-size: 28px;
        font-family: 'Shojumaru',sans-serif;
    }
    
    .welcome__page .welcome__info p{
        font-size: 14px;
        width: 250px;
    }
    
}